<a href="https://colab.research.google.com/github/TessM2/content/blob/main/Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python intro

This is a VERY basic intro to Python; just enough so that you have some literacy, to basically understand what's going on in some of the code we'll look at in the subsequent workshops. It will not be enough to make it so that you entirely understand that code. 

If you want a little bit more knowledge than this, you could try a short introduction to Python, e.g., this one, at datacamp: https://www.datacamp.com/courses/intro-to-python-for-data-science

If you want still more than that, you can refer to resources like these:

https://www.codecademy.com/learn/python

https://www.amazon.com/Learn-Python-Hard-Way-Introduction/dp/0134692888

**To begin with...**

What we're writing code in, right now, is called a "notebook"; each of the units of code in this notebook, like the one printed below, is called a "cell"; in the google colab notebook we're in right now, you can add a cell by clicking the +Code button in the upper left.

**Comments and Code**

In a cell, there are two types of things you can write. First, you can write code. What this means is that when you press the "play" looking button to the left of the cell, this code will "run." Second, you can write "comments"; comments are things that the reader of your code will be able to read, but that will not actually run as code. To write comments, you should put the "#" symbol before what you write. This will show up as a comment, and not code. So, below, I have, first, a comment announcing that I will write some code to do something, and then that code:

In [ ]:
#Hello, this is a comment; the comment says that I am about to write a line of code that will print out my name ("Tess"). Here's that code:
print("Tess")

Tess

What you just saw was the print command. You type print and then put the thing you want to print in parentheses (for more on the types of things there are to print, see below). Because I typed the print command correctly, with a lowercase p, the code worked. But if I had typed the command incorrectly in some way - as one often does, while coding - for example, with a capital "P" it would print out an error message. For example:

In [ ]:
#here is an incorrect version of the print command, to produce an error message
Print("Tess")

NameError: ignored

**strings and floats**

ok, enough frontmatter. Onto some basics.

In [ ]:
#In python, there are a few types of objects, or things, that you can write code with/about. One of the things is called a string. A string is always in quotes, whether double quotes or single
"Tess"
#That's a string, above; my name in quotes. I just printed that string; and will do it again:
print("Tess")
#we could also write it with single quotes
'Tess'
print('Tess')

Tess
Tess

In [ ]:
#There are also floats; basically, numbers (real numbers). Like 1 or 3 or 7.5
7.5
#Let's print this float
print(7.5)

7.5

In [ ]:
#If you put a float in quotes, it becomes a string:
"7.5"
#If you want python to tell you what type of thing a thing is, then write "type" before it in parentheses. For example:
type("7.5")

str

In [ ]:
type(7.5)

float

In [ ]:
#There are also variables in python. A variable is a name that you assign to some other entity, by writing the name and then setting it equal to that entity with an equals sign
#So, let's say I want to create a variable named banana that equals the number 1, id do this:
banana = 1
#now, any time I write the word banana, I really mean 1. So if I print banana, it'll print 1
print(banana)

1

In [ ]:
#now I'll make a variable called apple that equals the string "delicious"
apple = "delicious"
#If I print apple, now, it'll print the string "delicious"
print(apple)

delicious

In [ ]:
#In python I can do math-like operations to strings and floats. for example, let's say I want to add two strings together. I can just put a plus sign between them, and name that all with a variable:
peach = "Tess" + "McNulty"
print(peach)

TessMcNulty

In [ ]:
#note that if i want a space in there I have to add it manually
peach = "Tess" + " " + "McNulty"
print(peach)

Tess McNulty

In [ ]:
#We can do many more math-like operations with floats. for example:
orange = 7 + 5
print (orange)
kumquat = 7 - 3
print(kumquat)

12
4

In [ ]:

#An easy way to add 1 to a float is like this:
kumquat += 1
#now kumquat will be 5 instead of 4
print(kumquat)

5

**lists**

In [ ]:
#Another useful type of item, for our purposes, is a list. A list goes in brackets, and contains multiple items, separated by commas
#We can use variables to name lists. We can make an empty list, or a list with nothing in it, like this:
kiwi = []

#we can make a list of floats:

pear = [1,2,3]

#or we can make a list of strings:

papaya = ["hello", "list", "friend"]

#or we can include both, and so on, and other things

In [ ]:
#One thing it's useful to do with lists is be able to pick out some single item in the list
#we name each item in the list with the number it is; but we call the first item 0, not 1
#so in the list called papaya, "hello" is the zero item, "list" is 1, and "friend" is 2
#so if we want to pick out "friend" we go like this:

papaya[2]

'friend'

In [ ]:
#we can also pick out the elements in a string in the same way. 
#so if i have the string "tess," t is the zero item, e is the 1, s is the 2, and so on
mystring = "Tess"
#let's pick out the second s:
mystring[3]

's'

**ranges and for loops**

In [ ]:
#ok, this is hardly everything there is to know about even tbe most python, or everything we'll need, but a few more things will be helpful
#first, there are ranges of numbers. e.g.:
range(0,5)
#note that when you create a range of numbers, like this, it includes the first number (here, 0) but then goes up to but doesn't include the last
#so range(0,5) means 0, 1, 2, 3, 4

range(0, 5)

In [ ]:
#I call also just call that same rthing range(5)
range(5)

range(0, 5)

In [ ]:
#there are also what are called loops or for loops, which involve ranges. loops are for when we want to do the same thing, a bunch of times.
#so e.g. this will print "hello" 5 times (we'll go through this syntax together)
for i in range(5):
  print("hello")

hello
hello
hello
hello
hello

In [ ]:
#this will add 1 to the number we called banana 4 times

print(banana)

for i in range(4):
  banana += 1

print(banana)

1
5

**packages**

In [ ]:
#packages are special collections of things we can do with python, that aren't already in the language
#in order to use packages, and the commands they contain, we do what's called "import" them
#when we "import" a package "as" some name, it now goes by that name
#we'll often use a package called pandas, and import it "as" the name pd

import pandas as pd

###practice looking at package documentation with pandas